---
import HeaderLink from "./HeaderLink.astro";
import { PAGE_TITLE } from "../consts";

const { theme } = Astro.props;

let darkMode = false;
if (theme === "dark") {
    darkMode = true;
}
---

<header>
    <h1 class={darkMode ? "dark-mode" : ""}>
        {PAGE_TITLE}
    </h1>
    <nav class={darkMode ? "dark-mode" : ""}>
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/posts">Posts</HeaderLink>
        <HeaderLink href="/notes">Notes</HeaderLink>
        <HeaderLink href="/jpg">JPG</HeaderLink>
    </nav>
</header>

<style>
    header {
        margin: 1.25em 0;
    }
    img {
        float: left;
        margin-right: 20px;
    }
    h1 {
        font-size: 1.5rem;
    }
    nav a {
        margin-right: 10px;
        color: #027541;
    }
    .dark-mode {
        color: #fff;
    }
    .dark-mode * {
        color: #fff;
    }
</style>
